In [7]:
a=c(1,6,-8)
b=c(4,-2,-1)
a*t(b)

     [,1] [,2] [,3]
[1,]    4  -12    8

In [6]:
a*b

[1]   0  -4 -10

In [4]:
a%*%b

     [,1]
[1,]  -18

In [4]:
a=c()

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: unexpected input
1: ?%*
     ^

In [8]:
d=c(-8,2)
e=c(-1,-7)
u=c(7,-1,1)
w=c(4,-2,-1)

In [9]:
d%*%e

     [,1]
[1,]   -6

In [10]:
u%*%w

     [,1]
[1,]   29